@{
    ViewBag.Title = "Think Tank & Expert Service";
}
<img src="~/Content/Image/ConsultingOutsourcingService.png" width="640" height="320" />
<p></p><p></p>
<p>
    We provide consultancy service, advisory service, intellectual property transfer, professional service and research service to help our clients to achieve their goals, find their solutions and resolve their business issues.
</p>
