@{
    ViewBag.Title = "Experienced Professionals";
}
<img src="~/Content/Image/ExperiencedProfessionals.jpg" width="640" height="320" />
<p></p><p></p>
<p>When recruiting experienced professionals, we look for people with a passion for excellence, a belief in the power of the team, integrity and leadership.</p>
