@{
    ViewBag.Title = "Group Overview";
}
<img src="~/Content/Image/GroupOverview.jpg" width="640" height="320" />
<p></p><p></p>
<p>The Commerce Objectives Group, Inc. is a leading consulting, technology and investment group company that provides a wide range of services to a substantial and diversified client base that includes corporations, financial institutions, governments and individuals. Founded in 2010, the company is headquartered in Hong Kong and maintains offices in many major cities around the world.</p>
<p>Commerce Objectives commits people, capital and ideas to help our clients, shareholders and the communities we serve to grow and succeed at the highest level. We:</p>
<p></p>
<p><b>Consulting</b><br />
We offer valuable consultancy service to bring the best technologies to the clients and enable their competency in the relevant technologies, including research & development.</p>
<p>We develop ideas and analysis that drive new perspectives, new products and new paths to growth.</p>
<p>We advise companies on strategy and business transformation, buying and selling businesses, and managing risks, which enable them to grow.</p>
<p></p>
<p><b>Technology</b><br />
We design and manufacture electronics, industrial equipment and engineering products through our plants to serve the market demand.</p>
<p>We help our clients to build up their production line and manufacturing plant based on their requirements.</p>
<p>We do product design for our clients and turn their ideas into actual product for mass production.</p>
<p></p>
<p><b>Investment</b><br />
We invest our capital alongside our clients' capital to help businesses grow. Our investment covers real estate, mining and trading of products.</p>
<p>We actively carry on the mining activities in metals, coal, oil shale, gemstones, limestone, dimension stone, rock salt, potash, gravel, clay and many kinds of resources and energy development.</p>
<p>We involve in the trading activities of precious metals, energy, food, agricultural products, electronic products, industrial products, large technology products and other consumer products.</p>
<p>We work with local, state and national governments to build up their infrastructure, like schools, hospitals and roads.</p>
<p>We construct and sell the commercial and residential real estate globally.</p>
