@{
    ViewBag.Title = "Innovation";
}
<img src="~/Content/Image/Innovation.png" width="640" height="320" />
<p></p><p></p>
<p>We invest in new technologies research and innovation by providing financial support to top researchers. We help both start-ups and individual scientist or technologists with our investment at the initial stage of research and development as well as turn achievements in research & development into business or economic return at the post stage.</p>
