@{
    ViewBag.Title = "Leadership Team";
}
<img src="~/Content/Image/leadership.jpg" width="640" height="320" />
<p></p><p></p>
<p>•<b>Qest Yau, CEO</b></p>
<p><img src="~/Content/Image/QestYau.png" /></p>
<p>Mr.Qest Yau is the CEO of Commerce Objectives Global CO., Ltd. He is currently responsible for the company strategy and general management worldwide.</p>
<p>Mr.Qest Yau has more than twenty years’ experience in high-technologies industry, venture capital and private equity.</p>
<p>Currently, Mr.Qest Yau is also the president of Golden Ocean Investment Co,.Ltd. He is invited by China Securities Journal and 21st Century Economic Report to publish his articles and share his vision on the capital market.</p>
<p>Prior to join Commerce Objectives, he served for Microsoft and HP for many years as senior executive. And he was the co-founder of Sichuan Shun Yue Shuang Sheng Asset Management Co., Ltd which is the first quantitative trading private equity in China.</p>
<p>Mr. Qest Yau owned a bachelor degree in computer science from Sun Yat-sen University and finished his postgraduate years on financial study in Tsinghua University. He holds all the professional qualifications in securities, funds, equity and futures.</p>
<p></p>
<p>•<b>WeiPing, Ni Managing Director</b></p>
<p><img src="~/Content/Image/Nicolas.png" /></p>
<p>Mr. Ni WeiPing is the chairman and CEO of Commerce Objectives Global CO., Ltd. He is currently responsible for the company strategy, management and operation worldwide.</p>
<p>Mr.Ni WeiPing’s appointed as the Vice Chairman of Commonwealth Science and Technology Academy for Research on November, 2015 and responsible for international operation, research & development collaboration and technology investment in the organization.</p>
<p>Mr. Ni WeiPing has more than fifteen years’ experience in high-technologies industry and held several senior positions in British Telecom, HP, Intel and NEC before.</p>
<p>His rich experience spanned across roles in sales, marketing and business management subsequently converged on providing business leadership and investment management, where he successfully led the sales, marketing and operation in HP, NEC, British Telecom and Tech Mahindra.</p>
<p>Mr. Ni WeiPing gained a Master of Science degree in Computer Science from Birmingham University in 2004.</p>
<p></p>
<p>•<b>Daniel Whistler, Managing Director</b></p>
<p><img src="~/Content/Image/DanielWhistler.png" /></p>
<p>Mr. Daniel Whistler is the managing director of Commerce Objectives Global CO., Ltd. He is currently responsible for the company strategy, management and operation worldwide.</p>
<p>Mr. Daniel Whistler has about twenty years’ experience in investment and entrepreneur. Prior to join Commerce Objectives, he served for several multinational as senior management staff. His extensive rich experience covers real estate and infrastructure construction.</p>
<p>Mr. Daniel Whistler received his bachelor degree in Modern History from London Metropolitan University and his bachelor degree in Applied Science from Birmingham City University.</p>
<p></p>
<p>•<b>Joseph Guy Darrer COO</b></p>
<p><img src="~/Content/Image/guy.jpg" /></p>
<p>Mr. Joseph Guy Darrer is currently the Chief Operating Office of Commerce Objectives global. He supports the work of the chief executive officer focusing on the establishment and optimization of day-to-day operations in the company.</p>
<p>Previously, Mr. Joseph Guy Darrer was COO of OpenSplash from Nov 2012 to Nov 2016 and prior to that, he played as senior management role in many multinational companies. He joined Commerce Objectives Global as a COO in 2016.</p>
<p>Mr. Joseph Guy Darrer is a member of the TRB associate.</p>
<p>Mr. Joseph Guy Darrer owned a Bachelor of Science degree from University of Manchester.</p>
<p></p>
<p>• <b>Makesh Kannaiyan CTO</b></p>
<p><img src="~/Content/Image/Makesk.jpg" /></p>
<p>Mr. Makesh Kannaiyan is the chief technology officer (CTO) of Commerce Objectives Global focused on scientific and technological areas in the organization. He principally oversees development of technologies and innovations.</p>
<p>Previously, Mr. Makesh Kannaiyan was the director of technology and consulting in Tech Mahindra from Oct 2013 to Dec 2016 and prior to that, he served as assistant vice president in Sonata Software. He had more than 35 years’ experience in global firms as top management guru and senior technologist.</p>
<p>Mr. Makesh Kannaiyan is an associate member of Institution of Engineers in India and senior Scientific Officer in Department of Atomic Energy, India. And He graduated from Institution of Engineers in India.</p>
<p></p>
