@{
    ViewBag.Title = "Contact Us";
}
<img src="~/Content/Image/contactus.png" width="640" height="320" />
<p></p><p></p>
<p>
    Commerce Objectives Global Limited<br/> 
    Room 206, NO.205, XinYu Road, Shanghai, China 201824<br/> 
    Call: +86 13564289300<br/> 
    Website: www.commerceobjectives.com<br/> 
    E-mail: Nicolas@commerceobjectives.com<br/> 
</p>
<p></p><p></p>
