@{
    ViewBag.Title = "mediarelations";
}
<img src="~/Content/Image/mediarelations.png" width="640" height="320" />
<p></p><p></p>
<p>No matter who we work with we must be helpful, don’t make it all about us, and stick to common sense. We remember, media are real people so treat them that way. We believe "The stronger the potential shareability, the more likely our story will be told by that journalist, blogger, and podcaster." We provide information of value—the media does need our help. They’re looking for content and good stories. We can provide that good content and those good stories.</p>
<p>
    <b>Contact Information</b><br>
    Commerce Objectives Global Limited<br>
    Room 206, NO.205, XinYu Road, Shanghai, China 201824<br>
    E-mail: communications@commerceobjectives.com<br>
</p>
<p></p><p></p>
