@{
    ViewBag.Title = "OtherMetal";
}
<img src="~/Content/Image/OtherMetal.jpg" width="640" height="320" />
<p></p><p></p>
<p>A metal is a material (an element, compound, or alloy) that is typically hard when in solid state, opaque, shiny, and has good electrical and thermal conductivity. Metals are generally malleable—that is, they can be hammered or pressed permanently out of shape without breaking or cracking—as well as fusible (able to be fused or melted) and ductile (able to be drawn out into a thin wire). Around 90 of the 118 elements in the periodic table are metals; the others are nonmetals or metalloids, though elements near the boundaries of each category have been assigned variably to either (hence the lack of an exact count). Some elements appear in both metallic and non-metallic forms.</p>
<p>Astrophysicists use the term "metal" to refer collectively to all elements in a star that are heavier than the lightest two, hydrogen and helium, and not just traditional metals. A star fuses lighter atoms, mostly hydrogen and helium, to make heavier atoms over its lifetime. Used in that sense, the metallicity of an astronomical object is the proportion of its matter made up of the heavier chemical elements.</p>
<p>Many elements and compounds that are not normally classified as metals become metallic under high pressures; these are formed as metallic allotropes of non-metals, for example, physicists were able to keep Hydrogen in its solid state under more than 3 million times the atmospheric pressure and deduce its metallic properties.</p>
<p>The strength and resilience of metals has led to their frequent use in high-rise building and bridge construction, as well as most vehicles, many home appliances, tools, pipes, non-illuminated signs and railroad tracks.
<p></p><p></p>
