@{
    ViewBag.Title = "Trading";
}
<img src="~/Content/Image/Trading_A.png" width="310" height="260" />
<img src="~/Content/Image/Trading_B.png" width="310" height="260" />
<p></p><p></p>
<p>We offer the top quality products of various types of precious metals, industrial metals, minerals, pearls and precious stones to our clients from mining & industrial companies, manufacturers, jewelry, banking and government sectors. Our international trading is the exchange of our top quality products of various type of precious metals, industrial metals, minerals, pearl and precious stone across international borders or territories.</p>
<p></p><p></p>

