@{
    ViewBag.Title = "What We Do";
}
<img src="~/Content/Image/WhatWeDo.png" width="640" height="320" />
<p></p><p></p>
<p>We offer the top quality precious metals, industrial metals, minerals, pearls and precious stones to the market through our trading network, exchange services and investment initiatives.</p>
<p>Our precious metal products include gold, silver and platinum group metals (ruthenium, rhodium, palladium, osmium, and iridium, platinum).</p>
<p>Our minerals include iron ore, manganese ore, chrome ore, titanium ore, vanadium, copper, lead, zinc, bauxite, magnesium, nickel, cobalt, tungsten, tin, molybdenum, mercury, antimony ore, zirconium, rare earth, gallium, indium, cadmium, selenium and ore.</p>
<p>Our industrial metals include copper, lead, zinc, aluminum, magnesium, lithium, strontium, tungsten, titanium, vanadium, gallium, antimony, bismuth, antimony, lanthanide, radium, thorium, potassium, sodium.</p>
<p>Our stone products include diamonds, crystals, emeralds, rubies, sapphires, and emeralds (varying stones, cat's eyes), epidote, pebbles, fine pearl, aquamarine, tourmaline, zircon, spinel, pearl, opal, green gold etc.</p>
<p>There are also a few natural single mineral aggregates, such as ice chalcedony and opal, as well as a few organic materials, such as amber, pearl, coral, and coal.</p>
<p>Our services include precious metal & stone trading, minerals trading, metals trading, exchange and investment.</p>
<p></p>