<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <appSettings>
    <add key="ConnectionString" value="data source=.;initial catalog=ShQny;integrated security=True;"/>
    <add key="Login" value=""/>
    <add key="Password" value=""/>
    <add key="AdminPhone" value=""/>
    <add key="Interval" value="3"/>
    <!--second-->
    <add key="StarTime" value="16:30:00"/>
    <add key="StopTime" value="23:59:59"/>
    <add key="IgnoreTimeCheck" value="false"/>
    <add key="IgnoreSendSms" value="false"/>
    <add key="ReceivingNotePath" value=""/>
    <add key="AccessKeyId" value=""/>
    <add key="AccessKeySecret" value=""/>
    <add key="SignName" value="亲农渔"/>
    <add key="TemplateCode" value="SMS_152281848"/>
    <add key="AdminTemplateCode" value="SMS_152207584"/>
  </appSettings>
</configuration>