<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="ConnectionString" value="data source=.;initial catalog=ShQny;integrated security=True;"/>
    <add key="UserName" value=""/>
    <add key="Password" value=""/>
  </appSettings>
</configuration>