<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="StockFtp.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key="UserName" value="waterhhy" />
    <add key="Password" value="wa180115agb" />
    <add key="FtpPathSh" value="sh_csv" />
    <add key="FtpPathSz" value="sz_csv" />
    <add key="Host" value="down.licai668.cn" />
    <add key="DownloadToPath" value="d:\data\download" />
  </appSettings>
</configuration>