
@{
    Layout = null;
    ViewBag.Title = "Products";
}
<html>
<head>
    <link href="/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <style type="text/css">
        body {
            background-image: url('/Images/products/yellowcroakerbk.jpg');
            background-size: 100% 100%;
            background-position: right bottom;
            background-repeat: no-repeat;
            margin: 0 auto;
            width: 100%;
            height: 100%;
            text-align: center;
            align-items: center;
        }
    </style>
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script src="~/Scripts/bootstrap.js"></script>
</head>
<body>
    <br />
    <br />
    <br />
    <div style="color:orange;font-size:64px;">
        <b>
        亲   农   渔<br />
        Fisher Bestie
        </b>
    </div>
    <br />
    <br />
    <br />
    <div id="demo" class="carousel slide" data-ride="carousel" data-interval="1500">
        <!-- 轮播图片 -->
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="~/Images/products/yellowcroaker1.png">
            </div>
            <div class="carousel-item">
                <img src="~/Images/products/yellowcroaker2.png">
            </div>
            <div class="carousel-item">
                <img src="~/Images/products/yellowcroaker3.png">
            </div>
        </div>
    </div>
    <br />
    <br />
    <br />
    <div class="col-md-6" style="margin: 0 auto;color:yellow;text-align:left;font-size:36px">
        <b>亲农渔系列生态大黄鱼采用精选野生大黄鱼做种苗，科学培育二和三代优质苗种，优质海域大面积的进行圈养和围养，使大黄鱼犹如在原生态中回游生长，保持大黄鱼原有的品性；体态修长苗条，肉质细腻，口感醇正！</b>
    </div>
    <br />
    <br />
    <br />
    <div class="col-md-6" style="margin: 0 auto;text-align:left;color:snow;font-size:24px;">
        <b>
            上海亲农渔贸易有限公司<br />
            宁德鑫渔贸易有限公司 联合出品<br />
            地址：上海市宝山区泰和路1780号017室<br />
            电话：021-66016769<br />
            网站：www.goservices.cn<br />
        </b>
    </div>
</body>
</html>
