
@{
//Layout = null;
}


@*<!-- Button trigger modal -->
    <button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
        Launch demo modal
    </button>

    <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel">Modal title</h4>
                </div>
                <div class="modal-body">
                    ...
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
*@
@*<link rel="stylesheet" href="https://kendo.cdn.telerik.com/2018.3.1017/styles/kendo.common-material.min.css" />
    <link rel="stylesheet" href="https://kendo.cdn.telerik.com/2018.3.1017/styles/kendo.material.min.css" />
    <link rel="stylesheet" href="https://kendo.cdn.telerik.com/2018.3.1017/styles/kendo.material.mobile.min.css" />

    <script src="https://kendo.cdn.telerik.com/2018.3.1017/js/jquery.min.js"></script>
    <script src="https://kendo.cdn.telerik.com/2018.3.1017/js/kendo.all.min.js"></script>

    <div id="example">
        <div class="demo-section k-content">
            <h4>Remind me on</h4>
            <input id="datetimepicker" title="datetimepicker" style="width: 100%;" />
        </div>

        <script>
            $(document).ready(function () {
                // create DateTimePicker from input HTML element
                $("#datetimepicker").kendoDateTimePicker({
                    value: new Date(),
                    dateInput: true
                });
            });
        </script>

    </div>*@

@*<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">*@
@*<link rel="stylesheet" href="/resources/demos/style.css">*@

@*<script src="~/Scripts/jquery-3.3.1.js">*@
@*</script><script src="https://code.jquery.com/jquery-1.12.4.js"></script>*@
@*<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>*@
@*<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>*@
@*<script>
        $(function () {
            $("#datepicker").datepicker({
                changeMonth: true,
                changeYear: true
            });
        });
    </script>*@

<p></p>
<p></p>
<p></p>
@*<script src="~/Scripts/jquery-3.3.1.js"></script>*@
@*<script src="https://unpkg.com/gijgo@1.9.11/js/gijgo.min.js" type="text/javascript"></script>
    <link href="https://unpkg.com/gijgo@1.9.11/css/gijgo.min.css" rel="stylesheet" type="text/css" />
    <input id="datepicker" width="270" />
    <script>
        $('#datepicker').datepicker({
            uiLibrary: 'bootstrap'
        });
    </script>*@
@*<p>Date: <input type="text" id="datepicker"></p>*@
<p></p>
<p></p>
<p></p>
<p></p>
@*<link href="~/Content/bootstrap-datepicker3.css" rel="stylesheet" />
<input type="text" class="datepicker" id="datepicker" placeholder="请选择日期" />
<a href="javascript:void(0)" onclick="postSimpleData()">重置密码</a>

@section Scripts {
    <script src="~/Scripts/bootstrap-datepicker.js"></script>
    <script src="~/Scripts/locales/bootstrap-datepicker.zh-CN.min.js"></script>
    <script type="text/javascript">
        $(function () {
            $(".datepicker").datepicker({
                language: "zh-CN",
                autoclose: true,//选中之后自动隐藏日期选择框
                clearBtn: true,//清除按钮
                todayBtn: true,//今日按钮
                format: "yyyy-mm-dd"//日期格式，详见 http://bootstrap-datepicker.readthedocs.org/en/release/options.html#format
            });
        });
        function postSimpleData() {
            $.ajax({
                type: "POST",
                url: "/api/qny/SimpleData",
                contentType: "application/json", //必须有
                dataType: "json", //表示返回值类型，不必须
                data: JSON.stringify({ 'foo': 'foovalue', 'bar': 'barvalue' }),  //相当于 //data: "{'str1':'foovalue', 'str2':'barvalue'}",
                success: function (jsonResult) {
                    alert(jsonResult);
                }
            });
        }
    </script>
}*@

<div id="app">
    <vue-bootstrap4-table :rows="rows" :columns="columns" :actions="actions" :config="config" v-on:on-download="onDownload">
        <template slot="column_email" slot-scope="props">
            <i>
                ggg{{props.column.label}}
            </i>
        </template>
        <template slot="name_first_name" slot-scope="props">
            {{props.cell_value}}
        </template>
        <template slot="email" slot-scope="props">
            <input type="text" :value="props.cell_value">
            {{props.cell_value}}
        </template>
    </vue-bootstrap4-table>
</div>
@section Scripts {
    <script src="~/Scripts/axios.min.js"></script>
    <script src="~/Scripts/vue.js"></script>
    <script src="https://unpkg.com/vue-bootstrap4-table@1.0.12/dist/vue-bootstrap4-table.min.js" crossorigin="anonymous"></script>
    @*https://github.com/rubanraj54/vue-bootstrap4-table*@
    <script>
        new Vue({
            el: "#app",
            data: {
                nullValue: null,
                rows: [],
                columns: [
                  {
                      label: "id",
                      name: "id",
                      //filter: {
                      //    type: "simple",
                      //    placeholder: "id"
                      //},
                      //sort: true,
                      uniqueId: true
                  },
                  {
                      label: "First Name",
                      name: "name.first_name",
                      filter: {
                          type: "multi-select",
                          placeholder: "Enter first name",
                          case_sensitive: false, // "false" by default
                          options: [
                            {
                                "name": "Irwin",
                                "value": "Irwin"
                            },
                            {
                                "name": "Don",
                                "value": "Don"
                            },
                            {
                                "name": "Lolita Paris",
                                "value": "Lolita"
                            }
                          ]
                      },
                      sort: true,
                      // slot_name: "my_duplicate_id_column"
                  },
                  {
                      label: "Last Name",
                      name: "name.last_name",
                      filter: {
                          type: "simple",
                          placeholder: "Enter last name",
                          case_sensitive: false
                      },
                      sort: true,
                  },
                  {
                      label: "Email",
                      name: "email",
                      filter: {
                          type: "simple",
                          placeholder: "Enter email"
                      },
                      sort: true,
                      row_text_alignment: "text-left",
                      column_text_alignment: "text-left",
                  },
                  {
                      label: "City",
                      name: "address.city",
                      sort: true
                  },
                  {
                      label: "Country",
                      name: "address.country",
                      filter: {
                          type: "simple",
                          placeholder: "Enter country"
                      },
                  },
                ],
                actions: [
                  //{
                  //    btn_text: "Download",
                  //    event_name: "on-download",
                  //    event_payload: {
                  //        msg: "my custom message"
                  //    }
                  //}
                ],
                config: {
                    pagination: true,
                    pagination_info: true,
                    num_of_visibile_pagination_buttons: 7,
                    per_page: 10,
                    //checkbox_rows: true,
                    highlight_row_hover: true,
                    //rows_selectable: true,
                    //multi_column_sort: false,
                    // highlight_row_hover_color:"grey",
                    //card_title: "Vue Bootsrap 4 advanced table",
                    show_refresh_button: false, // default is also true
                    show_reset_button: false, // default is also true
                    global_search: {
                        placeholder: "Enter custom Search text",
                        visibility: true,
                        case_sensitive: false
                    },
                }
            },
            methods: {
                onDownload(payload) {
                    alert(payload.msg)
                }
            },

            mounted() {
                let self = this;
                axios.get('https://raw.githubusercontent.com/rubanraj54/vue-bootstrap4-table/master/src/assets/toy_data/users_500.json')
                      .then(function (response) {
                          self.rows = response.data;
                      })
                      .catch(function (error) {
                          console.log(error);
                      });
            },
        })
    </script>
}