@import url( http://fonts.googleapis.com/css?family=Open+Sans:300&subset=latin,greek-ext,cyrillic-ext,greek,vietnamese,cyrillic,latin-ext );
ul#css3menu_top {
	list-style: none; margin: 0px; padding: 0px;
}
ul#css3menu_top ul {
	list-style: none; margin: 0px; padding: 0px;
}
ul#css3menu_top {
	border-radius: 5px 5px 0px 0px; border: 0px solid rgb(178, 178, 180); background-color: rgb(255, 255, 255); -moz-border-radius: 5px 5px 0 0; -webkit-border-radius: 5px 5px 0 0;
}
ul#css3menu_top .submenu {
	border-radius: 5px 5px 0px 0px; border: 1px solid rgb(178, 178, 180); background-color: rgb(255, 255, 255); -moz-border-radius: 5px 5px 0 0; -webkit-border-radius: 5px 5px 0 0;
}
ul#css3menu_top .submenu {
	border-width: 1px; border-style: solid; border-color: rgb(255, 255, 255) rgb(191, 193, 194) rgb(191, 193, 194); padding: 5px; border-radius: 0px 0px 4px 4px; left: -1px; top: 100%; float: left; display: none; position: absolute; z-index: 2; box-shadow: 0px 5px 5px rgba(20,20,25,0.2), inset 0px 0px 0px 1px #ffffff; background-image: linear-gradient(180deg, rgba(44, 160, 202, 0), rgba(0, 0, 0, 0.1)); background-color: rgb(255, 255, 255); -moz-border-radius: 0px 0px 4px 4px; -webkit-border-radius: 0px; -webkit-border-bottom-right-radius: 4px; -webkit-border-bottom-left-radius: 4px; -moz-box-shadow: 0 5px 5px rgba(20, 20, 25, 0.2), 0 0 0 1px #FFFFFF inset; -webkit-box-shadow: 0 5px 5px rgba(20, 20, 25, 0.2), 0 0 0 1px #FFFFFF inset;
}
ul#css3menu_top li:hover > * {
	display: block;
}
ul#css3menu_top li {
	font-size: 0px; float: left; display: block; white-space: nowrap; position: relative;
}
ul#css3menu_top li:hover {
	z-index: 1;
}
ul#css3menu_top {
	margin: 0px 0%; padding: 0px 0%; width: 100%; font-size: 0px; display: inline-block; position: relative; z-index: 999; /* -ms-zoom: 1; box-shadow: 0px 2px 0px #bfc1c2; -moz-box-shadow: 0 2px 0 #bfc1c2; -webkit-box-shadow: 0 2px 0 #bfc1c2; */
}
ul#css3menu_top .column {
	float: left;
}
* html ul#css3menu_top li a {
	display: inline-block;
}
ul#css3menu_top > li {
	margin: 0px; width: 16%;
}
ul#css3menu_top li.toplast {
	width: 20%;
}
body:first-of-type ul#css3menu_top {
	display: inline-table; border-spacing: 0px 0;
}
body:first-of-type ul#css3menu_top > li {
	float: none; display: table-cell;
}
ul#css3menu_top a:active {
	outline-style: none;
}
ul#css3menu_top a:focus {
	outline-style: none;
}
ul#css3menu_top a {
	background-position: 0px 0px; border-width: 0px; font: 18px/normal Open Sans, Helvetica Neue, Helvetica, Arial, sans-serif; padding: 13px 15px; text-align: left; color: rgb(114, 114, 114); text-decoration: none; vertical-align: middle; display: block; cursor: pointer; font-size-adjust: none; font-stretch: normal; /* background-image: linear-gradient(180deg, rgba(255, 255, 255, 0), rgba(85, 85, 85, 0.13)); */ background-repeat: repeat;
}
ul#css3menu_top ul li {
	margin: 0px; float: none;
}
ul#css3menu_top ul a {
	border-width: 0px; padding: 5px; border-radius: 6px; text-align: left; color: rgb(114, 114, 114); text-decoration: none; box-shadow: none; background-image: none; -moz-border-radius: 6px; -webkit-border-radius: 6px; -moz-box-shadow: none; -webkit-box-shadow: none;
}
ul#css3menu_top li:hover > a {
	background-position: 0px 100%; color: rgb(114, 114, 114); text-decoration: none; /* background-image: linear-gradient(180deg, rgba(85, 85, 85, 0.13), rgba(255, 255, 255, 0)); */
}
ul#css3menu_top li a.pressed {
	background-position: 0px 100%; color: rgb(114, 114, 114); text-decoration: none; /* background-image: linear-gradient(180deg, rgba(85, 85, 85, 0.13), rgba(255, 255, 255, 0)); */
}
ul#css3menu_top img {
	border: currentColor; border-image: none; margin-right: 13px; vertical-align: middle;
}
ul#css3menu_top ul li:hover > a {
	color: rgb(255, 255, 255); text-decoration: none; box-shadow: 0px 1px 0px #5682a5; /* background-image: linear-gradient(180deg, rgba(255, 255, 255, 0), rgba(85, 85, 85, 0.13)); */ background-color: rgb(95, 172, 235); -moz-box-shadow: 0 1px 0 #5682a5; -webkit-box-shadow: 0 1px 0 #5682a5;
}
ul#css3menu_top ul li a.pressed {
	color: rgb(255, 255, 255); text-decoration: none; box-shadow: 0px 1px 0px #5682a5; /* background-image: linear-gradient(180deg, rgba(255, 255, 255, 0), rgba(85, 85, 85, 0.13)); */ background-color: rgb(95, 172, 235); -moz-box-shadow: 0 1px 0 #5682a5; -webkit-box-shadow: 0 1px 0 #5682a5;
}
ul#css3menu_top li.topfirst > a {
	border-width: 0px 0px 0px 0px; border-style: solid; border-color: rgb(191, 193, 194); border-radius: 5px 0px 0px; box-shadow: inset 0px 0px 0px 1px #ffffff; text-shadow: 0px 1px 0px #ffffff; background-color: rgb(255, 255, 255); -moz-border-radius: 5px 0 0 0; -webkit-border-radius: 5px; -webkit-border-bottom-right-radius: 0; -webkit-border-bottom-left-radius: 0; -moz-box-shadow: 0 0 0 1px #FFFFFF inset; -webkit-box-shadow: 0 0 0 1px #FFFFFF inset; -webkit-border-top-right-radius: 0;
}
ul#css3menu_top li.topfirst:hover > a {
	border-style: solid; border-color: rgb(191, 193, 194); box-shadow: inset 0px 4px 6px -2px rgba(0,20,50,0.26); text-shadow: 0px 1px 0px #ffffff; background-color: rgb(255, 255, 255); -moz-box-shadow: 0 4px 6px -2px rgba(0, 20, 50, 0.26) inset; -webkit-box-shadow: 0 4px 6px -2px rgba(0, 20, 50, 0.26) inset;
}
ul#css3menu_top li.topfirst a.pressed {
	border-style: solid; border-color: rgb(191, 193, 194); box-shadow: inset 0px 4px 6px -2px rgba(0,20,50,0.26); text-shadow: 0px 1px 0px #ffffff; background-color: rgb(255, 255, 255); -moz-box-shadow: 0 4px 6px -2px rgba(0, 20, 50, 0.26) inset; -webkit-box-shadow: 0 4px 6px -2px rgba(0, 20, 50, 0.26) inset;
}
ul#css3menu_top li.topmenu > a {
	border-width: 0px 0px 0px 0px; border-style: solid; border-color: rgb(191, 193, 194); box-shadow: inset 0px 0px 0px 1px #ffffff; text-shadow: 0px 1px 0px #ffffff; background-color:#87CEEB; -moz-box-shadow: 0 0 0 1px #FFFFFF inset; -webkit-box-shadow: 0 0 0 1px #FFFFFF inset;
}
ul#css3menu_top li.topmenu:hover > a {
	border-style: solid; border-color: rgb(191, 193, 194); box-shadow: inset 0px 4px 6px -2px rgba(0,20,50,0.26); text-shadow: 0px 1px 0px #ffffff; background-color: rgb(255, 255, 255); -moz-box-shadow: 0 4px 6px -2px rgba(0, 20, 50, 0.26) inset; -webkit-box-shadow: 0 4px 6px -2px rgba(0, 20, 50, 0.26) inset;
}
ul#css3menu_top li.topmenu a.pressed {
	border-style: solid; border-color: rgb(191, 193, 194); box-shadow: inset 0px 4px 6px -2px rgba(0,20,50,0.26); text-shadow: 0px 1px 0px #ffffff; background-color: rgb(255, 255, 255); -moz-box-shadow: 0 4px 6px -2px rgba(0, 20, 50, 0.26) inset; -webkit-box-shadow: 0 4px 6px -2px rgba(0, 20, 50, 0.26) inset;
}
ul#css3menu_top li.toplast > a {
	border-radius: 0px 5px 0px 0px; border: 0px solid rgb(191, 193, 194); box-shadow: inset 0px 0px 0px 1px #ffffff; text-shadow: 0px 1px 0px #ffffff; background-color: rgb(255, 255, 255); -moz-border-radius: 0 5px 0 0; -webkit-border-radius: 0; -moz-box-shadow: 0 0 0 1px #FFFFFF inset; -webkit-box-shadow: 0 0 0 1px #FFFFFF inset; -webkit-border-top-right-radius: 5px;
}
ul#css3menu_top li.toplast:hover > a {
	border-style: solid; border-color: rgb(191, 193, 194); box-shadow: inset 0px 4px 6px -2px rgba(0,20,50,0.26); text-shadow: 0px 1px 0px #ffffff; background-color: rgb(255, 255, 255); -moz-box-shadow: 0 4px 6px -2px rgba(0, 20, 50, 0.26) inset; -webkit-box-shadow: 0 4px 6px -2px rgba(0, 20, 50, 0.26) inset;
}
ul#css3menu_top li.toplast a.pressed {
	border-style: solid; border-color: rgb(191, 193, 194); box-shadow: inset 0px 4px 6px -2px rgba(0,20,50,0.26); text-shadow: 0px 1px 0px #ffffff; background-color: rgb(255, 255, 255); -moz-box-shadow: 0 4px 6px -2px rgba(0, 20, 50, 0.26) inset; -webkit-box-shadow: 0 4px 6px -2px rgba(0, 20, 50, 0.26) inset;
}
ul#css3menu_top > li:nth-child(2) {
	width: 19%;
}
ul#css3menu_top > li:nth-child(3) {
	width: 19%;
}
ul#css3menu_top > li:nth-child(4) {
	width: 14%;
}
ul#css3menu_top > li:nth-child(5) {
	width: 17%;
}
ul#css3menu_top > li:nth-child(6) {
	width: 15%;
}
@media only screen and (max-width:656px), only screen and (max-device-width:656px)
{
ul#css3menu_top > li:nth-child(1) {
	width: 31%;
}
ul#css3menu_top > li:nth-child(2) {
	width: 35%;
}
ul#css3menu_top > li:nth-child(3) {
	width: 34%;
}
ul#css3menu_top > li:nth-child(4) {
	width: 30%;
}
ul#css3menu_top > li:nth-child(5) {
	width: 37%;
}
ul#css3menu_top > li:nth-child(6) {
	width: 33%;
}
body:first-of-type ul#css3menu_top {
	display: inline-block;
}
body:first-of-type ul#css3menu_top > li {
	float: left !important; display: block;
}
}
@media only screen and (max-width:354px), only screen and (max-device-width:354px)
{
ul#css3menu_top > li:nth-child(1) {
	width: 47%;
}
ul#css3menu_top > li:nth-child(2) {
	width: 53%;
}
ul#css3menu_top > li:nth-child(3) {
	width: 37%;
}
ul#css3menu_top > li:nth-child(4) {
	width: 28%;
}
ul#css3menu_top > li:nth-child(5) {
	width: 35%;
}
ul#css3menu_top > li:nth-child(6) {
	width: 100%;
}
}
@media only screen and (max-width:327px), only screen and (max-device-width:327px)
{
ul#css3menu_top > li:nth-child(1) {
	width: 47%;
}
ul#css3menu_top > li:nth-child(2) {
	width: 53%;
}
ul#css3menu_top > li:nth-child(3) {
	width: 57%;
}
ul#css3menu_top > li:nth-child(4) {
	width: 43%;
}
ul#css3menu_top > li:nth-child(5) {
	width: 54%;
}
ul#css3menu_top > li:nth-child(6) {
	width: 46%;
}
}
@media only screen and (max-width:232px), only screen and (max-device-width:232px)
{
ul#css3menu_top > li:nth-child(1) {
	width: 47%;
}
ul#css3menu_top > li:nth-child(2) {
	width: 53%;
}
ul#css3menu_top > li:nth-child(3) {
	width: 100%;
}
ul#css3menu_top > li:nth-child(4) {
	width: 45%;
}
ul#css3menu_top > li:nth-child(5) {
	width: 55%;
}
ul#css3menu_top > li:nth-child(6) {
	width: 100%;
}
}
