<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <connectionStrings>
    <add name="StockEntities" connectionString="data source=.;initial catalog=StockInfo;integrated security=True;"/>
  </connectionStrings>
  <appSettings>
    <add key="DateTimeFormat" value="yyyyMMdd"/>
    <add key="ExportPath" value="D:\stockdata\"/>
    <add key="ExtensionNane" value="csv"/>
    <add key="Separator" value=","/>
    <add key="TimeStep" value="3"/>
    <add key="Timeout" value="900"/>
  </appSettings>
</configuration>