<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <connectionStrings>
    <add name="StockEntities" connectionString="data source=.;initial catalog=Stock;integrated security=True;" />
  </connectionStrings>
  <appSettings>
    <add key="ImportPath" value="D:\ExtractData" />
    <add key="BackuptPath" value="D:\ExtractDataBackup\csv" />
    <add key="MaxThreadCount" value="50" />
  </appSettings>
</configuration>