@{
    ViewBag.Title = "investorrelations";
}
<img src="~/Content/Image/investorrelations.png" width="640" height="320" />
<p></p><p></p>
<p>We consciously builds relationships with current and potential investors, financial analysts and the media to ensure it has not only their confidence, but access to all the funds it requires at the most favorable rate.</p>
<p>
    <b>Contact Information</b><br>
    Commerce Objectives Global Limited<br>
    Room 206, NO.205, XinYu Road, Shanghai, China 201824<br>
    E-mail: communications@commerceobjectives.com<br>
</p>
<p></p><p></p>
