@{
    ViewBag.Title = "Manufacture";
}
<img src="~/Content/Image/Manufacture.png" width="640" height="320" />
<p></p><p></p>
<p>We have several affiliated factories with a large-scale production of converting minerals and raw materials into Ferro-chrome, Ferro-manganese and other Ferro-products. We also offer total solutions and production design to our customers in China. Our major customers are metal manufactures in China who source our products and other raw materials from us regularly.</p>
<p></p><p></p>
