@{
    ViewBag.Title = "Minerals";
}
<img src="~/Content/Image/Minerals.jpg" width="640" height="320" />
<p></p><p></p>
<p>A mineral is a solid inorganic substance formed by geological processes. There are about 3,000 that are known, and new discoveries occur frequently. All have a specific atomic structure, chemical composition, and physical properties. Minerals range from pure elements, to salts, to silicates that can take thousands of different forms. Gemstones are attractive ones that have been cut and polished for use in making jewelry.</p>
<p>Each mineral belongs to a chemical group that represents their affiliation with certain elements or compounds. They also belong to a crystal structure group, and have other properties, such as hardness, color, luster, specific gravity, tenacity, and crystal habits associated with them. These and other properties are used to identify and classify them.</p>
<p>An substance’s crystal structure is important in determining its chemical and physical properties. A crystal structure refers to the way atoms are spatially arranged. The type of crystal structure one has greatly influences its physical properties. For example, graphite and diamonds are both composed of carbon, but have different crystal structures making them, respectively, some of the world’s softest and hardest known compounds.</p>
<p></p><p></p>
