@{
    ViewBag.Title = "Pearls";
}
<img src="~/Content/Image/Pearls.png" width="640" height="320" />
<p></p><p></p>
<p>Unlike gemstones produced deep inside the Earth, pearls are created by living creatures called mollusks. Mollusks commonly have a soft, unsegmented body and a hard exterior shell, such as a clam or snail has. These animals live in marine and freshwater habitats as well as on land. The evolutionary history of this group extends back some 530 million years, with approximately 100,000 species of mollusks alive today.</p>
<p>Any mollusk that produces a shell can produce a pearl. Nevertheless, naturally occurring pearls are rare, found in perhaps one of every 10,000 animals. The cultured pearl industry, which has flourished since the early 20th century, has developed techniques to greatly improve these odds. Indeed, more pearls are produced now than at any time in human history.</p>
<p></p><p></p>
