@{
    ViewBag.Title = "Trading";
}
<img src="~/Content/Image/Trading_A.png" width="310" height="260" />
<img src="~/Content/Image/Trading_B.png" width="310" height="260" />
<p></p><p></p>
<p>We offer the top quality products of various types of precious metals, industrial metals, minerals, pearls and precious stones to our clients from industrial, banking and government sectors. And we supply our Ferro-products together with other minerals to our customers from manufactures who demand both total solution and products from us on a regular basis. Our international trading is the exchange of our top quality products of various type of precious metals, industrial metals, minerals, pearl and precious stone across international borders or territories.</p>
<p></p><p></p>

