@{
    ViewBag.Title = "What We Do";
}
<img src="~/Content/Image/WhatWeDo.png" width="640" height="320" />
<p></p><p></p>
<p>We offer the top quality precious metals, industrial metals, minerals and precious stones to the market through our trading network, exchange services and investment initiatives.</p>
<p>Our precious metal products include gold, silver and platinum. Our minerals include iron ore, manganese ore, copper concentrate/ore, lead, zinc, bauxite and chrome lumpy/concentrate.</p>
<p>Our industrial metals include copper cathode, ferromanganese and steel.</p>
<p>Our stone products include diamonds, crystals, emeralds and emeralds (varying stones, cat's eyes), aquamarine, pearl, etc.</p>
<p>Our services include precious metal & stone trading, minerals trading, metals trading, exchange and investment.</p>
<p></p>