@{
    ViewBag.Title = "Worldwide";
}
<img src="~/Content/Image/Worldwide.png" width="640" height="320" />
<p></p><p></p>
<p>Commerce Objectives Global Limited is a leading global precious metal, industrial metal, minerals, pearls and precious stones company that provide various types of top quality products and services to a substantial and diversified client base that includes corporations, financial institutions and governments. The company maintains offices in many international cities around the world.</p>
<p></p><p></p>
