@{
    ViewBag.Title = "Pythhon课程";
}
<img src="~/Content/Image/ClassicPython.png" width="640"  />
<p></p><p></p>
<p>Python作为一门程序设计语言，其魅力和影响力已经远超C#、C++等编程语言前辈，被程序员誉为“最美丽的”编程语言。从云端、客户端，到物联网终端，在到现在人工智能，python应用无处不在。</p>
<p>Python是一种效率极高的语言：相比于众多其他的语言，使用Python编写时，程序包含的代码行更少。Python的语法也有助于创建整洁的代码：相比其他语言，使用Python编写的代码更容易阅读、调试和扩展。</p>
<p>大家将Python用于众多方面：编写游戏、创建Web应用程序、解决商业问题以及供各类有趣的公司开发内部工具。Python还在科学领域被大量用于学术研究和应用研究。</p>
<p>Python社区有形形色色充满激情的人。对程序员来说，社区非常重要，因为编程绝非孤独的修行。大多数程序员都需要向解决过类似问题的人寻求建议，经验最为丰富的程序员也不例外。需要有人帮助解决问题时，有一个联系紧密、互帮互助的社区至关重要，而对于将Python作为第一门语言来学习的人而言，Python社区无疑是坚强的后盾。</p>
<p></p>
