@{
    ViewBag.Title = "APP课程";
}
<img src="~/Content/Image/ClassicAPP.png" width="640" />
<p></p><p></p>
<p>移动开发也称为手机开发，或叫做移动互联网开发。是指以手机、PDA、UMPC等便携终端为基础，进行相应的开发工作，由于这些随身设备基本都采用无线上网的方式，因此，业内也称作为无线开发。</p>
<p>移动应用开发是为小型、无线计算设备编写软件的流程和程序的集合，像智能手机或者平板电脑。移动应用开发类似于Web应用开发，起源于更为传统的软件开发。但关键的不同在于移动应用通常利用一个具体移动设备提供的独特性能编写软件。例如，利用iPhone的加速器编写游戏应用。</p>
<p><b>4G时代，手机为王</b></p>
<p>4G时代的到来，使得手机应用日渐热门，由于手机携带方便，并且是生活必带随身用品，而且信号覆盖广，操作便捷，使得人们对其给予了越来越高的期望。大家期待各种常见的或是重要的信息化系统、互联网应用可以被移植到手机上同步使用，使用户无论在何时何地，都可以连线精彩的网络世界，登录信息系统。为此，如何进行手机开发，如何在手机上催生各种多姿多彩的精彩应用，日渐成为整个ICT产业关注的焦点。</p>
<p></p><p></p>
