@{
    ViewBag.Title = "课程表";
}
<img src="~/Content/Image/CourseSchedule.png" width="640" height="320" />
<p></p><p></p>
<p><b>春季3月1日至5月31日</b></p>
<p>这段时间为一学年的上半学期，所以上课时间安排在双休日。每节课3小时。</p>
<p></p>
<p><b>夏季7月1日至8月31日</b></p>
<p>这段时间为暑假，课程可以安排在平时以及双休日。每节课6小时。</p>
<p></p>
<p><b>秋季9月1日至12月31日</b></p>
<p>这段时间为一学年的上半学期，所以上课时间安排在双休日。每节课3小时。</p>
<p></p>
<p><b>冬季1月30日至2月25日</b></p>
<p>这段时间为寒假，课程可以安排在平时以及双休日。每节课6小时。</p>

<p></p><p></p>
