@{
    ViewBag.Title = "课程目录";
}
<img src="~/Content/Image/CourseCatalogue.png" width="640" height="320" />
<p></p><p></p>
<p><b>初级课程</b></p>
<p>APP Inventor编程（建议3年级及以上）30课时。</p>
<p>智能车硬件编程（建议3年级及以上）30课时。</p>
<p>Microbit智能硬件（建议3年级及以上）30课时。</p>
<p>3D打印（建议3年级及以上）30课时。</p>
<p>无人机编程（建议4年级及以上）30课时。</p>
<p>VR/AR编程（建议4年级及以上）30课时。</p>
<p></p>
<p><b>中级课程</b></p>
<p>Python程序设计（建议6年级及以上）36课时。</p>
<p>C/C++程序设计（建议8年级及以上）36课时。</p>
<p>Java语言 AP计算机考试（建议9年级及以上）36课时。</p>
<p>Arduino智能硬件（建议8年级及以上）36课时。</p>
<p>信息学竞赛准备（建议8年级及以上）36课时。</p>
<p></p>
<p><b>高级课程</b></p>
<p>Python算法初步（建议8年级及以上）36课时。</p>
<p>数据分析与人工智能（建议8年级及以上）66课时。</p>
<p>NOIP考前冲刺（建议9年级及以上）66课时。</p>
<p>AP考前指导（建议8年级及以上）66课时。</p>
<p>HIMCM数学建模（建议8年级及以上）66课时。</p>
<p>CTB挑战赛指导（建议8年级及以上）66课时。</p>
<p></p>
<p><b>加强课程</b></p>
<p>数据结构（建议9年级及以上）66课时。</p>
<p>操作系统（建议9年级及以上）66课时。</p>
<p>组成原理（建议9年级及以上）66课时。</p>
<p>计算机网络（建议8年级及以上）66课时。</p>
<p></p>
<p><b>基础课程 适合小学年级</b></p>
<p>Microbit智能硬件30课时。</p>
<p>3D打印 30课时。</p>
<p>无人机编程 30课时。</p>
<p>VR/AR编程 30课时。</p>
<p></p>
<p><b>初级课程 适合小学高年级和初中年级</b></p>
<p>App开发 App Inventor</p>
<p>智能硬件编程 Arduino</p>
<p></p>
<p><b>中级课程 适合初中和高中年级</b></p>
<p>Python程序设计基础 36课时</p>
<p>C/C++程序设计基础（信息学竞赛）36课时</p>
<p>Java语言 AP计算机考试 36课时</p>
<p></p>
<p><b>高级课程 适合初中和高中年级</b></p>
<p>Python算法初步（建议8年级及以上）36课时。</p>
<p>数据分析与人工智能（建议8年级及以上）66课时。</p>
<p>NOIP考前冲刺（建议9年级及以上）66课时。</p>
<p>AP考前指导（建议8年级及以上）66课时。</p>
<p>HIMCM数学建模（建议8年级及以上）66课时。</p>
<p>CTB挑战赛指导（建议8年级及以上）66课时</p>
<p></p>
<p><b>加强课程 适合高中年级</b></p>
<p>数据结构（建议9年级及以上）66课时。</p>
<p>操作系统（建议9年级及以上）66课时。</p>
<p>组成原理（建议9年级及以上）66课时。</p>
<p>计算机网络（建议8年级及以上）66课时。</p>
<p></p><p></p>
