@{
    ViewBag.Title = "Corporate Responsibility";
}
<img src="~/Content/Image/CorporateResponsbility.png" width="640" height="320" />
<p></p><p></p>
<p>Being a great corporate citizen and operating with integrity is central to how we do business. We help build economies and communities globally.</p>
<p>Recognizing how important social responsibility is to our customers, we now focus on and practice a few broad categories of CSR:</p>
<p><b>1. Environmental efforts:</b> One primary focus of corporate social responsibility is the environment. Businesses regardless of size have a large carbon footprint. Any steps they can take to reduce those footprints are considered both good for the company and society as a whole.</p>
<p><b>2. Philanthropy:</b> Businesses can also practice social responsibility by donating money, products or services to social causes. We tend to have a lot of resources that can benefit charities and local community programs.</p>
<p><b>3. Ethical labor practices:</b> By treating employees fairly and ethically, we can also demonstrate our corporate social responsibility. We offer equal opportunities to all the people around the world.</p>
<p></p>
