@{
    ViewBag.Title = "investorrelations";
}
<img src="~/Content/Image/investorrelations.png" width="640" height="320" />
<p></p><p></p>
<p>We consciously builds relationships with current and potential investors, financial analysts and the media to ensure it has not only their confidence, but access to all the funds it requires at the most favorable rate.</p>
<p>
    <b>Contact Information</b><br>
    Precious Res DMCC<br>
    Unit NO.F13, DMCC Business Centre, Level NO.13, AG Tower<br>
    Dubai, United Arab Emirates<br>
    E-mail: investorrelations@preciousres.com
</p>
<p></p><p></p>
