@{
    ViewBag.Title = "Undergraduate Postgraduate";
}
<img src="~/Content/Image/UndergraduatePostgraduate.jpg" width="640" height="320" />
<p></p><p></p>
<p><font size="16"><b>Your Career. Your Way.</b></font></p><p></p>
<p>Wherever you want to go, and whatever you want to achieve, we’ll help you get there.</p>
<p>We offer both internship and full-time career opportunities to undergraduates and postgraduates. Our internship gives you a unique opportunity to learn about the precious metal, pearly and precious stone industry by working side by side with the experts. Our interns don’t learn by watching, they learn by getting involved in real projects. As a new full-time employee, you will learn about our businesses, develop important relationships, and build career-enhancing skills.</p>
<p></p><p></p>
