@{
    ViewBag.Title = "Worldwide";
}
<img src="~/Content/Image/Worldwide.png" width="640" height="320" />
<p></p><p></p>
<p>Precious Res DMCC is a leading global precious metals, pearly and precious stones company that provides various types of top quality precious metals, pearly and precious stones, as well as a wide range of investment and exchanging services to a substantial and diversified client base that includes corporations, financial institutions, governments and individuals. The company maintains offices in many international cities around the world.</p>
<p></p><p></p>
