<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <connectionStrings>
    <add name="StockEntities" connectionString="data source=.;initial catalog=StockInfo;integrated security=True;"/>
  </connectionStrings>
  <appSettings>
    <add key="MaxDbThreadCount" value="5"/>
    <add key="MaxCodeThreadCount" value="2"/>
    <add key="ConnectionFormatString" value="data source=.;initial catalog={0};integrated security=True;"/>
  </appSettings>

</configuration>