<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
  </startup>
  <connectionStrings>
    <add name="StockEntities" connectionString="data source=.;initial catalog=StockInfo;integrated security=True;"/>
  </connectionStrings>
  <appSettings>
    <add key="DataBaseList" value="" />
    <add key="StockList" value="sh600020" />
    <add key="StartDate" value="2015-01-01" />
    <add key="BranchCount" value="10" />
    <!-- DailyIncreaseRole,XDaysIncreaseRole,DeltaIncreaseRole,DailyExponentialIncreaseRole -->
    <add key="RoleList" value="DailyExponentialIncreaseRole" />
    <add key="DaysForXDaysIncreaseRole" value="10" />
    <add key="LengthForDeltaIncreaseRole" value="60" />
    <add key="CoefficientForDeltaIncreaseRole" value="1.5" />
    <add key="MinOffsetForDeltaIncreaseRole" value="0.008" />
    <add key="PriceOffset" value="0.1" />
    <add key="HeapOffset" value="0.003" />
    
    <add key="MaxDbThreadCount" value="1"/>
    <add key="MaxCodeThreadCount" value="1"/>
    <add key="TimeStep" value="1"/>
    <add key="ConnectionFormatString" value="data source=.;initial catalog={0};integrated security=True;"/>
  </appSettings>
</configuration>
