@{
    ViewBag.Title = "Europe";
}
<img src="~/Content/Image/Europe.jpg" width="640" height="320" />
<p></p><p></p>
<p>We work with leading corporations, governments and individuals in over many countries. In Europe, we currently run the business in UK and Portugal.</p>
