@{
    ViewBag.Title = "Leadership Team";
}
<img src="~/Content/Image/LeadershipTeam.jpg" width="640" height="320" />
<p></p><p></p>
<p>•Nicolas, WeiPing, Ni	Chairman and President</p>
<img src="~/Content/Image/Nicolas.png" />
<p></p>
<p>Mr. Ni WeiPing, Nicolas is the founder and chairman of Commerce Objectives Global CO., Ltd. He is currently serving the company as the managing director and responsible for the company strategy, management and operation worldwide.</p>
<p>Mr.Ni WeiPing, Nicolas’s appointed as the Vice Chairman of Commonwealth Science and Technology Academy for Research on November, 2015 and responsible for international operation, research & development collaboration and technology investment in the organization.</p>
<p>Mr. Ni WeiPing, Nicolas has more than fifteen years’ experience in high-technologies industry and held several senior positions in British Telecom, HP, Intel and NEC before.</p>
<p>His rich experience spanned across roles in sales, marketing and business management subsequently converged on providing business leadership and investment management, where he successfully led the sales, marketing and operation in HP, NEC, British Telecom and Tech Mahindra.</p>
<p>Mr. Ni WeiPing, Nicolas gained a Master of Science degree in Computer Science from Birmingham University in 2004.</p>
<p></p>
<p>•Joseph Guy Darrer	Vice President and Chief Representative, UK</p>
<p>•Vijay Anand	Vice President and Chief Representative, US</p>
<p>•Fazila Sharif	Vice President and Chief Representative, South Africa</p>
<p>•Makesh Kannaiyan	Vice President and Chief Representative, India</p>
