@{
    ViewBag.Title = "Mining";
}
<img src="~/Content/Image/Mining.png" width="640" height="320" />
<p></p><p></p>
<p>We do mining and extraction of valuable minerals or other geological materials from the earth usually from an orebody, lode, vein, seam, reef or placer deposits. These deposits form a mineralized package that is of economic interest to the miner.</p>
<p>Ores recovered by mining include metals, coal, oil shale, gemstones, limestone, dimension stone, rock salt, potash, gravel, and clay. Our mining activities in a wider sense includes extraction of any non-renewable resource such as petroleum, natural gas, or even water.</p>
