@{
    ViewBag.Title = "Real Estate Property";
}
<img src="~/Content/Image/RealEstateProperty.jpg" width="640" height="320" />
<p></p><p></p>
<p>We build up real estate and property for sale and rental, including hotel, resort, industrial park, residential building, office building and other large infrastructure.</p>