@{
    ViewBag.Title = "AP培训";
}
<img src="~/Content/Image/ClassicAP.png" width="640" />
<p></p><p></p>
<p>有关注留学申请的家长应该多少听过，AP计算机科学：Computer Science(简称APCS)。<b>AP CS（AP计算机）是美国大学理事会主持的大学先修课程和考试，以便提供给高中生大学水平的计算机科学课程大学学分。</b>我们通常指AP课程体系中的<b>“AP Computer Science A”</b>， 相当于一个学期的大学计算机科学课程，偏重于实践，注重代码在继承，多态和算法上的具体实现，以及数据结构和算法，要专门学习一门计算机语言JAVA。</p>
<p><b>为什么参加AP考试</b></p>
<p><b>增加考生申请大学时的竞争力</b></p>
<p>在美国，<b>“85%要求较高的大学都表示他们在做录取决定时对有AP学习经验的学生有一定地优先考虑。”</b></p>
<p><b>AP考试成绩为你带来的好处</b></p>
<p>1、AP考试成绩达到3分或以上的学生可以<b>在所有美国及加拿大的大学换取大学学分、优先选课</b>、或二者兼得。</p>
<p>2、能帮助你节省时间。你的AP考试合格成绩能够使你在大学期间跳过一些基础的入门课程。你就有时间选择修双学位或参加宝贵的实习，<b>甚至提前毕业、更快拿到学位。</b></p>
<p>3、在声望较高的大学，本科生为每个学分需要付出的学费都在1000美元以上，一般一个AP课程在大学中相应学科的学分都在<b>3个学分以上(相当于3000多美元)</b>，所以说AP还能为考生节省大学学费。</p>
<p>4、研究多次证明，参加过AP课程学习并在AP考试中获得3分以上的学生，与没有学过AP的学生相比，通常在大学学习中有更大成就，<b>也有更高的大学 毕业成功率</b>。</p>
<p>5、好的AP成绩还能够让考生有机会获得奖学金。“一些竞争最大的奖学金都是以AP考试成绩作参照。很多大学<b>用学生的AP考试成绩来决定让哪些学生进入高级班（honors classes）</b>。</p>
<p><b>AP计算机学什么内容</b></p>
<p>1. Java语言的特征和介绍</p>
<p>2. Class和object</p>
<p>3. 继承和多态</p>
<p>4. Java常用的基本类库</p>
<p>5. 程序设计思想</p>
<p>6. 递归</p>
<p>7. 数组和数组List</p>
<p>8. 排序和查找</p>
<p><b>AP计算机学完以后我会什么?</b></p>
<p>1. 用Java面向对象的思想设计、实现和分析问题的解决方法</p>
<p>2. 使用和了解重要的算法</p>
<p>3. 会使用标准的数据结构</p>
<p>4. 编程、运行、测试、debug你自己的小成果</p>
<p>5. 能使用Java类库和接口</p>
<p>总之，与普通 高中课程 相比，在AP课程中，你将能更深入地学习某一门学科。学完之后可以具备国外大学一年级的计算机编程水平</b>，更好地学习你感兴趣的学科。</p>
<p><b>零基础能学会吗？</b></p>
<p>计算机语言和符号是全世界通用的，用点心都能学会。就往年的数据来看，AP计算机拿高分的几率是非常大的。AP计算机的成绩大致分布为：<b>5分占26.6%， 4分占26.6%。考1分的孩子，只占25.9%</b>。总结下来<b>(26.6%+26.6%)/(100%-25.9%)=71.9%</b>，只要认真学习的孩子，差不多有<b>71.9%的概率能拿到4分以上</b>。</p>
<p><b>为什么重视AP计算机科学？</b></p>
<p>北美地区的计算机课程，普及度会比国内广很多，要知道，80%的工科课程会用到计算机编程技能，理科、金融、经济、等学科非常重视计算机编程技术的应用。随着多媒体时代的到来，各学科对计算机的依赖也越来越明显。在读大学以前学习AP计算机科学有利于你能够尽快适应大学程度课程，为今后选择的专业在学术上有更大的成就。</p>
<p></p><p></p>
