@{
    ViewBag.Title = "Contact Us";
}
<img src="~/Content/Image/contactus.png" width="640" height="320" />
<p></p><p></p>
<p>
    <b>咨询</b><br />
    &nbsp;&nbsp;&nbsp;&nbsp;倪老师<br />
    &nbsp;&nbsp;&nbsp;&nbsp;电话：13564289300<br />
    &nbsp;&nbsp;&nbsp;&nbsp;地址：上海市华浦路500号/6栋人工智能产业园 (此为办公地点，实际上课地点另定，遵照就近原则)
</p>
<p>
    <b>网上报名</b><br />
    &nbsp;&nbsp;&nbsp;&nbsp;提供微信上或网页上直接报名付款<br />
    &nbsp;&nbsp;&nbsp;&nbsp;电话：13564289300<br />
    &nbsp;&nbsp;&nbsp;&nbsp;地址：上海市华浦路500号/6栋人工智能产业园 (此为办公地点，实际上课地点另定，遵照就近原则)
</p>
<p></p><p></p>
