@{
    ViewBag.Title = "师资力量";
}
<img src="~/Content/Image/Teachers_1.png" width="640" />
<p></p>
<img src="~/Content/Image/Teachers_2.png" width="640" />
<p></p>
<img src="~/Content/Image/Teachers_3.png" width="640" />
<p></p><p></p>
