@{
    ViewBag.Title = "Contact Us";
}
<img src="~/Content/Image/contactus.png" width="640" height="320" />
<p></p><p></p>
<p>
    Precious Res DMCC<br/> 
    Unit NO.F13, DMCC Business Centre, Level NO.13, AG Tower<br />
    Dubai, United Arab Emirates<br />
    Call: +971 55 248 4093<br /> 
    Website: www.preciousres.com<br /> 
    E-mail: general@preciousres.com
</p>
<p></p><p></p>
