@{
    ViewBag.Title = "Trading";
}
<img src="~/Content/Image/Trading_A.png" width="310" height="260" />
<img src="~/Content/Image/Trading_B.png" width="310" height="260" />
<p></p><p></p>
<p>We offer the top quality product of various type of precious metals, pearl and precious stone to our clients from jewelry, banking and government sectors. Our international trading is the exchange of our op quality product of various type of precious metals, pearl and precious stone across international borders or territories.</p>
<p></p><p></p>

