@{
    ViewBag.Title = "What We Do";
}
<img src="~/Content/Image/WhatWeDo.png" width="640" height="320" />
<p></p><p></p>
<p>We offer the top quality precious metal & stone to the market through our trading network, exchange services and investment initiatives. Our precious metal products include gold, silver, platinum group metals (ruthenium, rhodium, palladium, osmium, and iridium, platinum), palladium, rhodium, iridium, ruthenium, osmium, diamonds, rubies, sapphires, emeralds, gold and green cat's eyes, pebbles, fine pearl, aquamarine, tourmaline, zircon, spinel, pearl, emerald, opal, crystal, green gold and steel. Our stone products include diamonds, crystals, emeralds, rubies, sapphires, and emeralds (varying stones, cat's eyes), epidote, etc. There are also a few natural single mineral aggregates, such as ice chalcedony and opal, as well as a few organic materials, such as amber, pearl, coral, and coal. Our services include precious metal & stone trading, exchange and investment.</p>
<p></p>