<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <unity xmlns="http://schemas.microsoft.com/practices/2010/unity">
    <alias alias="ILogger" type="TestUnityConsoleApplication.ILogger, TestUnityConsoleApplication" />
    <namespace name="TestUnityConsoleApplication" />
    <assembly name="TestUnityConsoleApplication" />
    <container>
      <register type="ILogger" mapTo="NormalLogger">
        <constructor>
          <param name="port" value="COM1:500" />
          <param name="color" value="DarkGreen" />
        </constructor>
        <property name="Settings" value="Settings001"/>
        <method name="Initialize">
          <param name="loggerSettings" >
            <value value="loggerSettings" typeConverter="" />
          </param>
        </method>
      </register>
      <register type="ILogger" mapTo="EventLogLogger" name="eventlog">
        <lifetime type="singleton" />
      </register>
      <register type="ILogger" mapTo="SpecialLogger"  name="special"/>
      <register type="ILogger" mapTo="PageAdminLogger" name="emergency" />
    </container>
    <!--<container name="TestContainer">
      <register type="ILogger" mapTo="Normal"/>
      <register type="ILogger" mapTo="SpecialLogger"  name="special"/>
      <register type="ILogger" mapTo="PageAdminLogger" name="emergency" />
    </container>-->
  </unity>
</configuration>