@{
    ViewBag.Title = "Asia Pacific";
}
<img src="~/Content/Image/AsiaPacific.jpg" width="640" height="380" />
<p></p><p></p>
<p>We work with leading corporations, governments and individuals in over many countries. In Asia Pacific, we currently run the business in HongKong, China, India and Singapore.</p>
