@{
    ViewBag.Title = "Board of Directors";
}
<img src="~/Content/Image/BoardOfDirectors.png" width="640" height="72" />
<p></p>
<p style="font-size:xx-large;text-align:center"><b>Board of Directors</b></p>
<p></p>
<p></p>
<p>•<b>WeiPing, Ni Managing Director</b></p>
<p><img src="~/Content/Image/Nicolas.png" /></p>
<p>Mr. Ni WeiPing is the chairman and CEO of Commerce Objectives Global CO., Ltd. He is currently responsible for the company strategy, management and operation worldwide.</p>
<p>Mr.Ni WeiPing’s appointed as the Vice Chairman of Commonwealth Science and Technology Academy for Research on November, 2015 and responsible for international operation, research & development collaboration and technology investment in the organization.</p>
<p>Mr. Ni WeiPing has more than fifteen years’ experience in high-technologies industry and held several senior positions in British Telecom, HP, Intel and NEC before.</p>
<p>His rich experience spanned across roles in sales, marketing and business management subsequently converged on providing business leadership and investment management, where he successfully led the sales, marketing and operation in HP, NEC, British Telecom and Tech Mahindra.</p>
<p>Mr. Ni WeiPing gained a Master of Science degree in Computer Science from Birmingham University in 2004.</p>
<p></p>
<p>Commerce Objectives Global CO., Ltd is offering the following investment opportunities,</p>
<p>A.	<b>Equity</b>.	The investor can make investment by purchasing equity. The maximum equity available for selling doesn’t exceed 50% of the total equity.</p>
<p>B.	<b>Project</b>.	We have a large number of big projects worldwide in the sectors of high technologies, new energy, infrastructure, public, life science and innovation. The investor could achieve the outstanding ROI through investing in the projects.</p>
<p>C.	<b>Joint-Venture</b>.	We are working on the new start-ups and technologies acquisition. Therefore, we’re very open to offer the joint-venture partnership to the qualified investors. The investors could get stable and growing return on investment by becoming the owners of joint-venture.</p>
<p></p>
<p>If you are interested in the investment opportunities above, please raise you inquiry to our investor relationship department at e-mail: <b>investment@commerceobjectives.com</b></p>
<p></p>