@{
    ViewBag.Title = "Education & Training Service";
}
<img src="~/Content/Image/EducationTrainingService.jpg" width="640" height="320" />
<p></p><p></p>
<p>
    We are offering higher education course programs, STEM education course programs and professional training course programs to students, professionals and talents in multiple disciplines.
</p>
<p>    •	higher education course programs aims to support universities and colleges worldwide to provide more valuable courses and practice opportunities to their students.</p>
<p>    •	Our STEM educational programs are for the students whose age is between 6 and 18 years old. It is a curriculum based on the idea of educating students in four specific disciplines — science, technology, engineering and mathematics — in an interdisciplinary and applied approach. Rather than teach the four disciplines as separate and discrete subjects, STEM integrates them into a cohesive learning paradigm based on real-world applications.</p>
<p>    •	Our professional training courses are for the people who desire the practical skillset for their job across the following multiple industries and domains.</p>

