<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <appSettings>
    <add key="RarPath" value="D:\MySpace\Work\Projects\TestSolution\TestSharpCompressConsoleApplication\TestRar\rar"/>
    <add key="ExtractPath" value="D:\MySpace\Work\Projects\TestSolution\TestSharpCompressConsoleApplication\TestRar\Data"/>
    <add key="BackupPath" value="D:\MySpace\Work\Projects\TestSolution\TestSharpCompressConsoleApplication\TestRar\Backup"/>
    <add key="IsExtractToRarPath" value="true"/>
    <add key="NeedDeleteRarFile" value="false"/>
    <add key="Password" value="www.licai668.cn"/>
    <add key="MaxThreadCount" value="1"/>
    <add key="MaxFolderCount" value="1"/>
  </appSettings>
</configuration>